<div class="btn-group-vertical w-100" role="group" aria-label="Vertical button group">
  <%= link_to dashboard_analytics_path, class: "btn text-color-1 border-bottom text-start" do %>
    <i class="bi bi-bar-chart-line-fill"></i> Analytics
  <% end %>

  <%= link_to dashboard_users_path(organization_id: 1), class: "btn text-color-1 border-bottom text-start" do %>
  <i class="bi bi-people-fill"></i> Users
  <% end %>
  <%= link_to dashboard_analytics_path, class: "btn text-color-1 border-bottom text-start" do %>
   <i class="bi bi-megaphone-fill"></i> Campains
  <% end %>
  <%= link_to dashboard_analytics_path, class: "btn text-color-1 border-bottom text-start" do %>
   <i class="bi bi-person-lines-fill"></i>   Consumers
  <% end %>
  <%= link_to dashboard_analytics_path, class: "btn text-color-1 border-bottom text-start" do %>
   <i class="bi bi-gear-wide-connected"></i> Settings
  <% end %>
</div>